.nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    gap: 50px;
    padding-right: 10px;
    height: 58px;
    position:sticky;    
    top: 0px;
    background-color: rgba(var(--callout-rgb), 0.5);
    border-bottom: 1px solid rgba(var(--card-border-rgb), 0.2);
    backdrop-filter: blur(15px);
    
}


.menu {
    display:  flex;
    align-items: center;
    background-color: rgba(var(--callout-rgb), 1);
    overflow: hidden;
    border-radius: 40px;
}

.perfilandbutton{
    display: flex;
    align-items: center;
    gap: 0px;
}
.perfil{
    display: flex;
    align-items: center;
}
.perfil > p{
    font-size: 12px;
    margin-right: 5px;
    background-color: rgb(96, 9, 117);
    color: white;
    font-weight: 700;
    border: 1px solid rgba(var(--card-border-rgb), 0.2);
    padding: 2px 7px;
    border-radius: 4px;
}
.childrens{
    padding-top: 4rem;
}

.menubtn{
    border-color: transparent;
    margin-right:-5px;
    background-color: transparent;
    visibility: collapse;
    display: none;
    overflow: hidden;
}

.navbar{
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    border-radius: 0px;
}

.select::before
{
    position: absolute;
    content: '';
    background-color: rgb(170, 170, 235);
    height: 4px;
    width: 30%;
    border-radius: 10px;
    bottom: 0;
    box-shadow: 0px 5px 8px 0px #ffffff1a;
}

.select{
color: rgb(0, 0, 0);
background-color: rgba(var(--card-border-rgb), 0.14);

font-weight: 800;
}

.indicator{
    display: none;
}

@media (prefers-color-scheme: dark) {
    .select{
        color: white;
    }
  }


 

@media (max-width: 720px){
    .menubtn{
        display: inherit;
        visibility: visible;
    }
    .indicator{
        display: inline;
    }

    .nav{
        justify-content: space-between;
        gap: 0px;
    }

    .menu {
        z-index: -1;
        position: fixed;
        flex-direction: column;
        gap: 0px;
        align-items: start;
        right: 0px;
        width: 100%;
        top: 58px;
        height: 0px;
        overflow: hidden;
        border-bottom: 1px solid rgba(var(--card-border-rgb), 0.2);
        border-radius: 0px;
    }
    .menu a {
        justify-content: left;
        padding: 20px 20px;
    }

    .openmenu{
        height: max-content;
    }
    .menu *{
        width: 100%;
        height: 100%;
        padding: 15px;
        cursor: pointer;
    }

    .select::before
    {
        bottom: inherit;
        left: 7px;
        width: 4px;
        height: 40%;
    }

  }

  @media (max-width: 320px){
    .indicator{
        display: none;
    }
  }